section.awards.py-5
  .container-fluid.awards-container
    img.awards-img.d-block.d-md-none.mx-auto(src="images/best-inventions.png", alt="Time's best inventions of 2014")
    .d-none.d-md-block
      .row
        .col.text-center
          h2.d-none.d-md-block.mx-auto.mb-4 Award-Winning
      .row.justify-content-center.mx-auto
        .col-5.col-lg.mb-4
          p.text-center 
            span.d-inline-block.mb-3 Innovative Toy of the Year
            span.awards-logo.toty.d-block.mx-auto.mb-3
            span.awards-year.d-block.text-muted Finalist 2015
        .col-5.col-lg.mb-4
          p.text-center 
            span.d-block.mb-3 Best Design
            span.awards-logo.good-design.d-block.mx-auto.mb-3
            span.awards-year.d-block.text-muted 2016
        .col-5.col-lg
          p.text-center 
            span.d-block.mb-3 Best Inventions
            span.awards-logo.time-inventions.d-block.mx-auto.mb-3
            span.awards-year.text-muted 2014
        .col-5.col-lg
          p.text-center 
            span.d-block.mb-3 Most Innovative Companies
            span.awards-logo.most-innovative.d-block.mx-auto.mb-3
            span.awards-year.d-block.text-muted Education, 2017