// ==========================================================================
// Title video
// ==========================================================================

.video-intro {
  overflow: hidden;
  width: 100%;
  height: 85vw;

  @include media-breakpoint-up(sm) {
    height: 500px;
  }

  &-stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-btn {
    width: 110px;
    height: 110px;
  }
}

// ==========================================================================
// Age category
// ==========================================================================

.aging {
  z-index: 99;
  right: 30px;
  bottom: -50px;
  width: 100px;
  height: 100px;
  padding-top: 26px;
  background: #e6214d;

  @include media-breakpoint-up(md) {
    bottom: -60px;
    width: 120px;
    height: 120px;
    padding-top: 32px;
  }

  @include media-breakpoint-up(lg) {
    right: 300px;
  }
}

// ==========================================================================
// Meet Osmo
// ==========================================================================

.meet {
  padding-top: 40px;
  padding-bottom: 70%;
  background: url("../images/girl-playing-table.jpg") bottom no-repeat;
  background-size: contain;

  @media (min-width: $sm) and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: $sm) {
    background-image: url("../images/girl-playing-table-wide@1.5x.jpg");
  }

  @media (min-width: $sm) and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) and (min-width: $sm) {
    background-image: url("../images/girl-playing-table-wide@2x.jpg");
  }

  @include media-breakpoint-up(sm) {
    padding-top: 60px;
    padding-bottom: 20%;
    background-image: url("../images/girl-playing-table-wide-responsive.jpg");
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 200px;
    background-position: right;
    background-size: auto 100%;
  }

  

  &-desc {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 270px;
    }

    @include media-breakpoint-up(lg) {
      width: 400px;
    }
  }

  &-find {
    color: #777;
    line-height: 1;

    &:hover {
      color: #777;
    }
  }
}

// ==========================================================================
// Nav-tabs: Play with your hands
// ==========================================================================

.touch-play {
  overflow: hidden;
  padding-top: 50px;
  background: radial-gradient(circle, lighten(#2a81b9, 13), #2a81b9);
  background-size: contain;

  &-wrapper {
    padding-bottom: 55%;

    @include media-breakpoint-up(sm) {
      padding-bottom: 350px;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 150px;
    }
  }

  &-tabs {
    z-index: 4;

    @include media-breakpoint-up(md) {
      margin-top: 50px;
      margin-left: 350px;
    }
  }

  &-link {
    padding: 14px 21px 12px;
    text-decoration: none !important;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover {
      color: #2192cc;
      background: white;
    }

    &:hover .touch-play-icon {
      fill: #2192cc;
    }

    &.active {
      border: 1px solid white;
      border-radius: 10px;
    }
  }

  &-tab-content {
    @include media-breakpoint-up(md) {
      width: 320px;
      margin-left: 350px;
    }

    @include media-breakpoint-up(lg) {
      width: 400px;
    }
  }

  &-tab-inner {
    z-index: 4;
    padding-bottom: 100px;
  }

  &-img {
    z-index: 1;
    bottom: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      left: 0;
      width: 600px;
    }

    @include media-breakpoint-up(md) {
      width: 700px;
    }
  }

  &-overlay {
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 60vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @include media-breakpoint-up(sm) {
      left: 0;
      width: 600px;
      height: 400px;
    }

    @include media-breakpoint-up(md) {
      width: 700px;
      height: 500px;
    }
  }

  &-overlay.ipad {
    animation-name: shimmer-ipad;
    animation-duration: 1.5s;
  }

  &-overlay.iphone {
    animation-name: shimmer-iphone;
    animation-duration: 1.5s;
  }

  &-overlay.hand {
    z-index: 3;
    animation-name: shimmer-hand;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    background-image: url("../images/hand-overlay.png");
  }
}

@keyframes shimmer-ipad {
  from {
    background-image: url("../images/ipad-rays-first.png");
  }

  to {
    background-image: url("../images/ipad-rays-second.png");
  }
}

@keyframes shimmer-iphone {
  from {
    background-image: url("../images/iphone-rays-first.png");
  }

  to {
    background-image: url("../images/iphone-rays-second.png");
  }
}

@keyframes shimmer-hand {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// ==========================================================================
// Coding family
// ==========================================================================

.coding {
  font-size: $font-size-sm;

  &-video {
    width: 100%;
    height: 307px;
    object-fit: contain;

    @include media-breakpoint-up(md) {
      height: auto;
    }
  }

  &-icon {
    width: 40px;
    height: 40px;

    @include media-breakpoint-up(lg) {
      width: 58px;
      height: 58px;
    }
  }

  &-icon::before {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: 15px;
    content: "";
    border-radius: 22%;
    background-image: url("../images/game-icons-responsive.jpg");
    background-repeat: no-repeat;
    background-size: 475% 350%;

    @media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url("../images/game-icons-responsive@1.5x.jpg");
    }

    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      background-image: url("../images/game-icons-responsive@2x.jpg");
    }
  }

  &-icon.mindracers::before { background-position: $mindracers; }
  &-icon.tangram::before { background-position: $tangram; }
  &-icon.pizzaco::before { background-position: $pizzaco; }
  &-icon.monster::before { background-position: $monster; }
  &-icon.numbers::before { background-position: $numbers; }
  &-icon.masterpiece::before { background-position: $masterpiece; }
  &-icon.words::before { background-position: $words; }
  &-icon.newton::before { background-position: $newton; }

  &-par {
    font-size: $font-size-sm;
  }

  &-img-title {
    width: 100%;
    max-width: 300px;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }

  &-devices {
    font-size: $font-size-sm;
  }

  &-btn {
    color: #22a2d1;
    border: 1px solid #22a2d1;

    &:hover {
      color: white;
      background: #22a2d1;
    }
  }

  &-btn:hover svg {
    fill: white;
  }
}

// ==========================================================================
// Award-Winning
// ==========================================================================

.awards {
  background: #f4f7fc;

  &-container {
    @include media-breakpoint-up(xl) {
      width: 1140px;
    }
  }

  &-img {
    width: 100%;
    max-width: 450px;
  }

  &-logo {
    display: block;
    background: url("../images/award-logos.png") no-repeat;
    background-size: 100px 72px;

    &.toty {
      width: 62px;
      height: 18px;
      background-position: 0 0;
    }

    &.good-design {
      width: 60px;
      height: 18px;
      background-position: 0 -54px;
    }

    &.time-inventions {
      width: 60px;
      height: 18px;
      background-position: 0 -19px;
    }

    &.most-innovative {
      width: 99px;
      height: 16px;
      background-position: 0 -37px;
    }
  }

  &-year {
    font-size: $font-size-sm;
  }
}

// ==========================================================================
// Schools ♥ Osmo
// ==========================================================================

.schools {
  background-image: radial-gradient(circle, #74c954, #4d9f30);

  &-btn {
    color: white;
    border: 1px solid white;

    &:hover {
      color: #4d9f30;
      background: white;
    }

    &:hover svg {
      fill: #4d9f30;
    }
  }

  &-video-frame {
    position: relative;
    width: 100%;
    height: 267px;
    background: url("../images/schools.jpg") no-repeat center;
    background-size: contain;

    @include media-breakpoint-up(md) {
      width: 702px;
      height: 405px;
    }
    
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      right: 0;
      width: 455px;
      height: 256px;
    }
  }

  &-frame-btn {
    width: 70px;
    height: 70px;
  }
}

// ==========================================================================
// Works with
// ==========================================================================

.bases {
  background: radial-gradient(circle, #be4bd5, #7d2f9f);
  font-size: $font-size-lg;

  @include media-breakpoint-up(md) {
    font-size: 26px;
  }

  &-devices {
    @include media-breakpoint-up(md) {
      width: 47px;
      height: 47px;
    }
  }

  &-btn {
    color: white;
    border: 1px solid white;

    &:hover {
      color: #c24dd9;
      background: white;
    }
  }

  .bases-btn:hover svg {
    fill: #c24dd9;
  }
}

// ==========================================================================
// Order Osmo
// ==========================================================================

.order {
  &-img {
    width: 100%;
    max-width: 400px;

    @include media-breakpoint-up(lg) {
      max-width: 600px;
    }
  }
}

// ==========================================================================
// Shopping conditions
// ==========================================================================

.conditions {
  background: #efefef;

  &-item {
    width: 330px;
    
    @include media-breakpoint-up(md) {
      width: 230px;
    }

    @include media-breakpoint-up(lg) {
      width: 330px;
    }
  }

  &-heading {
    color: $gray-800;
    font-size: $h6-font-size;

    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;
      font-weight: $font-weight-light;
    }
  }

  &-par {
    font-size: $font-size-sm;
  }
}
