extends /pug/layout

prepend head
  - var title = "Osmo bootstrap template"

block content
  .position-relative
    .video-intro
      video.video-intro-stream.d-block(poster="images/video-intro.jpg", preload="none", muted, loop, playsinline)
        source(src="videos/video-intro.webm", type="video/webm")
        source(src="videos/video-intro.mp4", type="video/mp4")
        | Элемент video не поддерживается вашим браузером. 
        a(href="videos/video-intro.mp4") Download this video
      button.btn.x-btn-play.video-intro-btn(type="button" data-toggle="modal" data-target="#modalVideoMain")
        svg(width="35" height="35" fill="white")
            use(xlink:href="#play")
    .aging.position-absolute.rounded-circle.text-center.text-white
      small.d-block For children
      span.h2.text-white 5-12

  .modal.fade(id="modalVideoMain")
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content.border-0.bg-transparent
        .modal-body
          button.close.mb-2.text-white(type="button" data-dismiss="modal") &times;
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/1JoIqEGuSlk?rel=0" allowfullscreen)

  section.meet
    .container
      h2 Meet Osmo
      p.meet-desc.mb-5 Osmo is an award-winning game system that will change the way your child interacts with the iPad and iPhone by opening them up to hands-on play.

      .d-flex.mr-auto
        .d-flex.flex-column.flex-lg-row.align-items-center
          a.btn.x-btn-shop.mr-sm-0.mr-lg-3.mb-3.mb-lg-0(href="#") Shop Now
            svg.align-middle.ml-2(width="17" height="17" fill="white")
              use(xlink:href="#arrow-right")
          div.meet-find
            span.mr-2 or 
            a.meet-find(href="#") Find a Store
              svg.align-middle.ml-2(width="13" height="13" fill="#666")
                use(xlink:href="#arrow-right")

  section.touch-play
    nav.container.d-flex.flex-column.align-items-center
      .touch-play-wrapper.position-relative
        ul.nav.nav-tabs.touch-play-tabs.position-relative.mb-4.border-0
          li.nav-item.mr-4
            a.touch-play-link.active(href="#tablet" data-toggle="tab")
              svg.touch-play-icon.mr-2.align-middle(width="20" height="20" fill="white")
                use(xlink:href="#ipad")
              span iPad
          li.nav-item
            a.touch-play-link(href="#mobile" data-toggle="tab")
              svg.touch-play-icon.mr-2.align-middle(width="20" height="20" fill="white")
                use(xlink:href="#iphone")
              span iPhone

        .tab-content.touch-play-tab-content
          .tab-pane.fade.show.active.text-white#tablet
            .touch-play-tab-inner.position-relative
              h2.pb-2.text-white Now you can play with your hands
              p Put your iPad in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.

            - imgClass = "touch-play-img position-absolute"
            - src      = "images/play-on-ipad-responsive.png"
            - size     = 700
            - sizes    = "(min-width: 768px) 43.75rem, 95vw"
            - alt      = "Osmo play on iPad"
            +respImg

            .touch-play-overlay.ipad.position-absolute
            .touch-play-overlay.hand.position-absolute

          .tab-pane.fade.text-white#mobile
            .touch-play-tab-inner.position-relative
              h2.pb-2.text-white Osmo is now on iPhone
              p Put your iPhone in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.

            - src = "images/play-on-iphone-responsive.png"
            - alt = "Osmo play on iPhone"
            +respImg

            .touch-play-overlay.iphone.position-absolute
            .touch-play-overlay.hand.position-absolute

  section.coding.py-4.py-md-5
    .container
      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5.order-md-2
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/coding-awbie.webm", type="video/webm")
            source(src="videos/coding-awbie.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/coding-awbie.mp4") Download this video

        .col-12.col-md-7.col-lg-5
          img.coding-img-title.mb-3(src="images/coding-title.png", alt="Osmo Coding family")
          p.coding-par Experience the complete Osmo Coding Family with three hands-on games. Explore with Awbie, make music with Jam, and solve challenging puzzles with Duo. Your kid can go from beginner to advanced with even more hands-on fun!
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#") Discover Coding Family
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/mindracers.webm", type="video/webm")
            source(src="videos/mindracers.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/mindracers.mp4") Download this video

        .col-12.col-md-7.col-lg-5.order-md-2
          h3
            span.coding-icon.mindracers.d-inline-block.mr-3.align-middle
            span.align-middle Hot Wheels™ MindRacers
          p Send real Hot Wheels™ cars racing down the ramp and straight into amazing digital worlds. Throw down game tokens to drive the action and beat the competition.
          .coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad

          .text-center
            a.btn.x-btn-section.coding-btn.m-2(href="#")
              svg.mr-1(width="12" height="12" fill="#22a2d1")
                use(xlink:href="#play")
              span Watch film

            a.btn.x-btn-section.coding-btn.m-2(href="#") Discover Hot Wheels™ MindRacers
              svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
                use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5.order-md-2
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/tangram.mp4", type="video/mp4")
            source(src="videos/tangram.webm", type="video/webm")
            | Video tag is not supported by your browser.
            a(href="videos/tangram.mp4") Download this video

        .col-12.col-md-7.col-lg-5
          h3
            span.coding-icon.tangram.d-inline-block.mr-3.align-middle
            span.align-middle Tangram
          p Arrange wooden puzzle pieces to match on-screen shapes. Animals, objects, humans and more. Play with a friend or challenge yourself to increasingly more difficult levels as your handiwork lights up with each victory.
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#") Discover Tangram
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/pizza-and-co.webm", type="video/webm")
            source(src="videos/pizza-and-co.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/pizza-and-co.mp4") Download this video

        .col-12.col-md-7.col-lg-5.order-md-2
          h3
            span.coding-icon.pizzaco.d-inline-block.mr-3.align-middle
            span.align-middle Pizza Co.
          p Make pizza... grow your profit! Quickly cook pizza & calculate change using topping & money tiles. Invest profits to upgrade your shop or open new locations as you bake your way to becoming “the big cheese”!
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#")
              svg.mr-1(width="12" height="12" fill="#22a2d1")
                use(xlink:href="#play")
              span Watch film
          a.btn.x-btn-section.coding-btn.m-2(href="#") Pizza Co.
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5.order-md-2
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/monster.webm", type="video/webm")
            source(src="videos/monster.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/monster.mp4") Download this video

        .col-12.col-md-7.col-lg-5
          h3
            span.coding-icon.monster.d-inline-block.mr-3.align-middle 
            span.align-middle Monster
          p Bring your drawings to life! Each item you draw for Mo will be magically pulled into his world. Together create animated activities to share with family and friends.
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#")
              svg.mr-1(width="12" height="12" fill="#22a2d1")
                use(xlink:href="#play")
              span Watch film
          a.btn.x-btn-section.coding-btn.m-2(href="#") Monster
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/numbers.webm", type="video/webm")
            source(src="videos/numbers.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/numbers.mp4") Download this video

        .col-12.col-md-7.col-lg-5.order-md-2
          h3
            span.coding-icon.numbers.d-inline-block.mr-3.align-middle 
            span.align-middle Numbers
          p Add, count and multiply the tiles to match the numbers on the bubbles. Popping enough bubbles will free the fish and unleash a storm of lightning and thunder! Big or small, even or odd, will you become the Numbers Master?
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#")
              svg.mr-1(width="12" height="12" fill="#22a2d1")
                use(xlink:href="#play")
              span Watch film
          a.btn.x-btn-section.coding-btn.m-2(href="#") Numbers
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5.order-md-2
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/masterpiece.webm", type="video/webm")
            source(src="videos/masterpiece.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/masterpiece.mp4") Download this video

        .col-12.col-md-7.col-lg-5
          h3
            span.coding-icon.masterpiece.d-inline-block.mr-3.align-middle 
            span.align-middle Masterpiece
          p Unleash your inner artist! Pick an image from the camera, web or curated gallery and Masterpiece will transform it into easy-to-follow lines, helping you create beautiful drawings.
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#")
              svg.mr-1(width="12" height="12" fill="#22a2d1")
                use(xlink:href="#play")
              span Watch film
          a.btn.x-btn-section.coding-btn.m-2(href="#") Masterpiece
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center.mb-4
        .col-12.col-md-5
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/words.webm", type="video/webm")
            source(src="videos/words.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/words.mp4") Download this video

        .col-12.col-md-7.col-lg-5.order-md-2
          h3
            span.coding-icon.words.d-inline-block.mr-3.align-middle 
            span.align-middle Words
          p Guess and spell the on-screen image. Team up or compete in-person with friends or family to see who will get their letter in first! Download free content like trivia, geography or upload your own like family names. The possibilities are endless!
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#") Discover Words
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

      .row.align-items-md-center.justify-content-lg-center
        .col-12.col-md-5.order-md-2
          video.coding-video.d-block(data-toggle="autoplayControl", preload="none", loop, muted, playsinline)
            source(src="videos/newton.webm", type="video/webm")
            source(src="videos/newton.mp4", type="video/mp4")
            | Video tag is not supported by your browser.
            a(href="videos/newton.mp4") Download this video

        .col-12.col-md-7.col-lg-5
          h3
            span.coding-icon.newton.d-inline-block.mr-3.align-middle 
            span.align-middle Newton
          p Newton works with any object or drawing — Mom’s keys, hand-drawn basket, even toys you already own. Simply place the object/drawing in front of the screen and manipulate it to guide the falling balls into the target zones.
          div.coding-devices.mb-2
            span.mr-3
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#ipad")
              | iPad
            span
              svg.align-middle.mr-1(width="15" height="15")
                use(xlink:href="#iphone")
              | iPhone
          a.btn.x-btn-section.coding-btn.m-2(href="#") Discover Newton
            svg.coding-btn-icon.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="#arrow-right")

  section.awards.py-5
    .container-fluid.awards-container
      img.awards-img.d-block.d-md-none.mx-auto(src="images/best-inventions.png", alt="Time's best inventions of 2014")
      .d-none.d-md-block
        .row
          .col.text-center
            h2.d-none.d-md-block.mx-auto.mb-4 Award-Winning
        .row.justify-content-center.mx-auto
          .col-5.col-lg.mb-4
            p.text-center 
              span.d-inline-block.mb-3 Innovative Toy of the Year
              span.awards-logo.toty.d-block.mx-auto.mb-3
              span.awards-year.d-block.text-muted Finalist 2015
          .col-5.col-lg.mb-4
            p.text-center 
              span.d-block.mb-3 Best Design
              span.awards-logo.good-design.d-block.mx-auto.mb-3
              span.awards-year.d-block.text-muted 2016
          .col-5.col-lg
            p.text-center 
              span.d-block.mb-3 Best Inventions
              span.awards-logo.d-block.time-inventions.mx-auto.mb-3
              span.awards-year.text-muted 2014
          .col-5.col-lg
            p.text-center 
              span.d-block.mb-3 Most Innovative Companies
              span.awards-logo.d-block.most-innovative.mx-auto.mb-3
              span.awards-year.d-block.text-muted Education, 2017

  section.schools.py-4.py-lg-5.text-center.text-lg-left.text-white
    .container.position-relative
      h2.text-white Schools 
        svg(fill="white" width="23" height="23")
          use(xlink:href="#heart")
        |  Osmo
      p.d-md-none Osmo has been adopted in over 30,000 schools in 42 countries around the world.
      p.d-none.d-lg-block.w-50 Osmo has been adopted in over 30,000 schools in 42 countries around the world. Teachers are raving about how their students love experimenting, exploring, creating and collaborating with Osmo.
      img.d-block.mx-auto.mx-lg-0.mb-4(src="images/teachers-pick.png", width="290", alt="Teacher's pick award")
      .schools-video-frame.mx-auto.mb-4
        button.btn.x-btn-play.schools-frame-btn(type="button" data-toggle="modal" data-target="#modalVideoSchools")
          svg(width="20" height="20" fill="white")
            use(xlink:href="#play")
      a.btn.x-btn-section.schools-btn(href="#") Osmo for schools
        svg.schools-btn-icon.position-relative.align-middle.ml-2(width="12" height="12" fill="white")
          use(xlink:href="#arrow-right")

    .modal.fade(id="modalVideoSchools")
      .modal-dialog.modal-lg.modal-dialog-centered
        .modal-content.border-0.bg-transparent
          .modal-body
            button.close.mb-2.text-white(type="button" data-dismiss="modal") &times;
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/zEsJwwdq4r8" allowfullscreen)
  
  section.bases.py-4.py-md-5.text-center
    .container
      div.d-inline-block.mb-3.mb-md-0
        svg.bases-devices.d-inline-block.mr-2.align-middle(width="25", height="25", fill="white")
          use(xlink:href="#iphone-and-ipad")
        p.d-inline-block.mb-0.mr-4.align-middle.text-white
          | Works with 
          strong iPad 
          | and 
          strong iPhone
      a.btn.x-btn-section.bases-btn(href="#") Explore our bases
        svg.bases-btn-icon.position-relative.align-middle.ml-2(width="12" height="12" fill="white")
          use(xlink:href="#arrow-right")
  
  section.order.py-5.py-md-5.text-center.text-lg-left
    .container
      .row.justify-content-lg-center.align-items-lg-center
        .col-12.col-lg

          - imgClass = "order-img mb-4 mb-lg-0"
          - src      = "images/devices-fun-responsive.png"
          - size     = 600
          - sizes    = "(min-width: 430px) 400px, (min-width: 992px) 33.2rem, (min-width: 1200px) 37.5rem, 95vw"
          - alt      = "Osmo on mobile devices"
          +respImg

        .col-12.col-lg-5
          h2 Order Osmo
          p.mb-4 We’re creating an environment for children where the line between fun and learning is blurred. Join us.
          a.btn.x-btn-shop.mr-3.mr-sm-0.mb-sm-3.text-white(href="#") Shop Now
            svg.align-middle.ml-2(width="17" height="17" fill="white")
              use(xlink:href="#arrow-right")
  
  section.conditions.py-5.text-center
    .d-flex.flex-column.flex-md-row.align-items-center.align-items-md-start.justify-content-center
      .conditions-item.d-flex.flex-md-column.mb-4.mb-md-0.mx-md-4
        svg.flex-shrink-0.mr-4.mb-md-4.mx-md-auto(width="55" height="40" fill="#f78f1e")
          use(xlink:href="#parcel")
        div
          h3.conditions-heading.mb-1.mb-md-2 Free Shipping
          p.conditions-par.m-0 Free shipping to the United States for orders over $99.

      .conditions-item.d-flex.flex-md-column.mb-4.mb-md-0.mx-md-4
        svg.flex-shrink-0.mr-4.mb-md-3.mx-md-auto(width="55" height="50" fill="#f78f1e")
          use(xlink:href="#pieces")
        div
          h3.conditions-heading.mb-1.mb-md-2 Piece Replacement
          p.conditions-par.m-0 In most cases, if you lose a piece we will replace it for free. There is a 90-day warranty on the base. 
            a(href="#") Learn More

      .conditions-item.d-flex.flex-md-column.mx-md-4
        svg.flex-shrink-0.mr-4.mb-md-4.mx-md-auto(width="55" height="40" fill="#f78f1e")
          use(xlink:href="#dollar")
        div
          h3.conditions-heading.mb-1.mb-md-2 Referral Program
          p.conditions-par.m-0 Refer Osmo to your family and friends and get cash back for every purchase.
        

