.menu {
  background: rgba($color: #fff, $alpha: .95);

  &-container {
    @include media-breakpoint-up(md) {
      width: 1000px;
    }
  }

  &-shop {
    flex-shrink: 0;
    padding: 9px;
    transition: transform .15s linear;
    border-radius: 30px;
    background: linear-gradient(to right, lighten($orange, 7) 0, darken($orange, 0) 100%);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    transform: translate(200px);
    transition: transform .5s ease-out;

    @include media-breakpoint-up(md) {
      padding: 10px 13px;
      transform: translate(0);
    }

    &:hover {
      transform: scale(1.07);
    }

    &.is-visible {
      transform: translate(0);
    }
  }

  &-nested-list {
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  &-list-wrapper {
    position: fixed;
    z-index: 99;
    top: 57px;
    left: -260px;
    overflow-y: auto;
    width: 260px;
    height: 100%;
    transition: left .2s linear;
    background: linear-gradient(230deg, $gray-900, lighten($gray-900 , 12) 100%) ;
    font-size: 18px;

    @include media-breakpoint-up(md) {
      position: static;
      z-index: 0;
      overflow: visible;
      width: auto;
      height: auto;
      background: none;
      font-size: $font-size-sm;
    }

    &.is-visible {
      left: 0;
    }
  }

  &-link {
    color: white;
    font-weight: 600;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      color: $gray-600;
      fill: currentColor;
    }

    &:hover {
      color: white;

      @include media-breakpoint-up(md) {
        color: $gray-900;
        fill: currentColor;
      }
    }

    .menu-popup-item:hover > & {
      @include media-breakpoint-up(md) {
        color: $cyan;
      }
    }
    
    .menu-nested-list-wrapper & {
      color: white;

      @include media-breakpoint-up(xl) {
        font-size: 1rem; 
      }
    }
  }

  &-item-image {
    top: 2px;
  }

  &-arrow-wrapper {
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      height: 40px;
      width: 40px;
    }
  }

  &-arrow {
    fill: white;
    transition: fill .3s;

    @include media-breakpoint-up(md) {
      fill: $gray-600;
      transform: rotate(0);
      @include x-center();
    }

    .menu-popup-item:hover & {
      @include media-breakpoint-up(md) {
        fill: $cyan;
      }
    }
  }

  &-nested-list-wrapper {
    display: none;
    
    @include media-breakpoint-up(md) {
      position: fixed;
      top: 85px;
      left: 0;
      width: 100%;
      background-image: radial-gradient(circle, #3BB6D4, #329BC8);
    }
  }

  &-game {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 22%;
    background: url("../images/game-icons-responsive.jpg") 0 0 / 475% 350% no-repeat;
    transition: transform .2s ease-out;

    &:hover {
      transform: scale(1.07);
    }

    @media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url("../images/game-icons-responsive@1.5x.jpg");
    }

    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      background-image: url("../images/game-icons-responsive@2x.jpg");
    }

    @include media-breakpoint-up(md) {
      width: 36px * 1.1;
      height: 36px * 1.1;
      margin-right: 0;
    }

    @include media-breakpoint-up(lg) {
      width: 36px * 1.4;
      height: 36px * 1.4;
    }

    @include media-breakpoint-up(xl) {
      width: 36px * 2.5;
      height: 36px * 2.5;
    }

    &.mindracers { background-position: $mindracers; }
    &.codingjam { background-position: $codingjam; }
    &.codingawbie { background-position: $codingawbie; }
    &.tangram { background-position: $tangram; }
    &.pizzaco { background-position: $pizzaco; }
    &.monster { background-position: $monster; }
    &.numbers { background-position: $numbers; }
    &.masterpiece { background-position: $masterpiece; }
    &.words { background-position: $words; }
    &.newton { background-position: $newton; }
  }
}