.footer-top {
  background: #333;
  color: white;
  font-size: 15px;

  .nav-link {
    color: inherit;

    &:hover {
      color: $gray-400;
    }
  }

  .flag {
    display: inline-block;
    width: 20px;
    height: 11px;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD//gAgQ29tcHJlc3NlZCBieSBqcGVnLXJlY29tcHJlc3MA/9sAhAACAgICAgICAgICAwMCAwMEAwMDAwQGBAQEBAQGCQUGBQUGBQkICQcHBwkIDgsJCQsOEA0MDRATERETGBcYHx8qAQICAgICAgICAgIDAwIDAwQDAwMDBAYEBAQEBAYJBQYFBQYFCQgJBwcHCQgOCwkJCw4QDQwNEBMRERMYFxgfHyr/wgARCAALABQDASIAAhEBAxEB/8QAFwAAAwEAAAAAAAAAAAAAAAAAAAEIBv/aAAgBAQAAAADC12puD//EABUBAQEAAAAAAAAAAAAAAAAAAAQF/9oACAECEAAAABR//8QAFQEBAQAAAAAAAAAAAAAAAAAABgj/2gAIAQMQAAAAppB//8QAKhAAAAMGBQIHAAAAAAAAAAAAAQQGAAIDBRIhERdUldMHURQVFiIxpNT/2gAIAQEAAT8AhdB145BBx8tIq6LveckBxifNfuiDfHthZgTSeCkPASsQDvLk/f7bempBopXtye/W2ZSv1pLbCXC2ZSv1pLbCXC2ZSv1pLbCXC3//xAAfEQAABgEFAAAAAAAAAAAAAAAAAQMFERMSAhQyUnH/2gAIAQIBAT8AdX9d3p3KWgqpxwKOXosT6D//xAAiEQAABQEJAAAAAAAAAAAAAAAAAQMFEhQEBhUzUlRxodH/2gAIAQMBAT8AY7hKsFRRW7OjOZ6OCGDuu9T78H//2Q==");
    background-repeat: no-repeat;
  }

  p {
    width: 300px;
    font-family: $font-family-system;
  }

  form {
    font-size: 13px;
  }

  input {
    width: 100%;
    padding: 10px 100px 10px 20px;
    border: none;
    border-radius: 40px;

    &::placeholder {
      font-family: $font-family-system;
    }

    &:focus {
      outline: none;
    }
  }

  .form-btn {
    right: -1px;
    height: 100%;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 13px;

    @include x-btn($background-color: $orange);
  }

  .social {
    width: 42px;
    height: 42px;

    &:hover {
      filter: brightness(130%);
    }
  }
}

.footer-bottom {
  background: #373737;
  color: white;
  font-family: $font-family-system;
  font-size: 15px;

  .nav-link {
    color: inherit;
    font-family: $font-family-system;

    &:hover {
      color: $gray-400;
    }
  }

  .caption {
    color: $gray-400;
    font-size: 12px;
  }
}

.btn-facebook { background: #1f5a9b; }
.btn-twitter { background: #3badf6; }
.btn-instagram { background: #ea216c; }
.btn-pinterest { background: #f51f23; }
.btn-youtube { background: #e9171b; }
