mixin header
  header.main-nav.position-fixed.fixed-top.shadow-sm
    nav.navbar.navbar-expand-md.p-md-3
      .container.main-nav-container
        .hamburger.d-md-none(data-toggle="menuToggler")
          .hamburger-bar
          .hamburger-bar
          .hamburger-bar
        a.navbar-brand.mx-auto.m-md-0.order-md-1(href="#")
          img.d-md-none(src="images/logo.png" alt="Osmo logo" width="100")
          img.d-none.d-md-block(src="images/logo.png" alt="Osmo logo" width="154")
        a.btn.main-nav-shop.order-md-3.text-white(href="#")
          | Shop 
          span.d-none.d-md-inline now

        .main-nav-list-wrapper.order-md-2(data-target="navList")
          ul.navbar-nav.mb-5.m-md-0.py-4.pl-4.p-md-0
            li.nav-item.nav-popup.mr-md-4(data-toggle="gameList")
              .nav-link.main-nav-link.d-inline-block
                | Games
                svg.main-nav-arrow.position-relative.d-md-none.align-middle(width="14" height="14" fill="white")
                  use(xlink:href="images/sprite.svg#arrow-down")
              ul.navbar-nav.main-nav-nested-list.d-md-none.pt-0.pl-3(data-target="gameList")
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.mindracers.d-block
                    span.d-block Hot Wheels™ MindRacers
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.codingjam.d-block
                    span.d-block Coding Jam
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.codingawbie.d-block
                    span.d-block Coding Awbie
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.pizzaco.d-block
                    span.d-block Pizza Co.
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.monster.d-block
                    span.d-block Monster
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.numbers.d-block
                    span.d-block Numbers
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.masterpiece.d-block
                    span.d-block Masterpiece
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.words.d-block
                    span.d-block Words
                li
                  a.nav-link.main-nav-link.d-flex.align-items-center.font-weight-light(href="#")
                    span.main-nav-game.newton.d-block
                    span.d-block Newton

            li.nav-item.mr-md-4
              a.nav-link.main-nav-link.d-inline-block(href="#") Schools
            li.nav-item.mr-md-4
              a.nav-link.main-nav-link.d-inline-block(href="#") FAQ
            li.nav-item.d-md-none
              a.nav-link.main-nav-link.d-inline-block(href="#") Jobs
            li.nav-item.main-nav-item-image.position-relative.d-none.d-md-inline
              a.nav-link.main-nav-link.d-inline-block(href="#")
                svg(width="65" height="16")
                  use(xlink:href="images/sprite.svg#logo-item")
