.footer {
  &-top {
    background: #333;
    font-size: 15px;
  }

  &-nav-link {
    color: $gray-600;

    &:hover {
      color: $gray-400;
    }
  }

  &-flag {
    width: 20px;
    height: 11px;
    background: url("../images/flags.png") no-repeat;
    background-position: -5241px 0;
  }

  &-form-desc {
    width: 300px;
    color: $gray-500;
    font-family: $font-family-system;
  }

  &-form-email {
    width: 260px;
    font-size: 13px;
  }

  &-form-input {
    width: 100%;
    padding: 10px 100px 10px 20px;
    border: none;
    border-radius: 40px;

    &::placeholder {
      font-family: $font-family-system;
    }

    &:focus {
      outline: none;
    }
  }

  &-form-btn {
    right: -1px;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 13px;

    @include x-btn($background-color: $orange);
  }

  &-social {
    width: 42px;
    height: 42px;

    &:hover {
      filter: brightness(130%);
    }
  }

  &-bottom {
    padding-bottom: 96px;
    background: #373737;
    font-family: $font-family-system;
    font-size: 15px;
  }

  &-bottom-link {
    color: #727272;
    font-family: $font-family-system;

    &:hover {
      color: $gray-400;
    }
  }

  &-bottom-caption {
    color: $gray-500;
    font-size: 12px;
  }
}

.btn-facebook  { background: #1f5a9b; }
.btn-twitter   { background: #3badf6; }
.btn-instagram { background: #ea216c; }
.btn-pinterest { background: #f51f23; }
.btn-youtube   { background: #e9171b; }
