footer
  .footer-top.py-4
    .container
      .d-xl-flex.flex-xl-row.justify-content-center.mb-4.font-weight-normal
        nav.nav.justify-content-center.mb-3.mb-lg-2.mr-3
          a.nav-link.footer-nav-link(href="#") Find in Store
          a.nav-link.footer-nav-link(href="#") Osmo Social Club
          a.nav-link.footer-nav-link(href="#") About Us
          a.nav-link.footer-nav-link(href="#") Blog
          a.nav-link.footer-nav-link(href="#") Media
          a.nav-link.footer-nav-link(href="#") Jobs
          a.nav-link.footer-nav-link(href="#") Support

        .text-center
          span.footer-flag.d-inline-block
          a.nav-link.footer-nav-link.d-inline-block.pl-2(href="#") United States

      .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-lg-between.mb-lg-3
        .d-flex.flex-column.flex-md-row.align-items-center.mb-4.mb-lg-0
          p.footer-form-desc.mr-md-3.mb-md-0.text-center.text-md-left Sign up for our newsletter to hear about our new games and promotions!
          form.footer-form-email.position-relative(action="#")
            input.footer-form-input(type="email" placeholder="Your email address")
            button.btn.footer-form-btn.position-absolute.text-white(type="submit") Sign Up

        .d-flex.mb-2.mb-lg-0
          a.btn.footer-social.btn-facebook.position-relative.mr-3.rounded-circle(href="#")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/sprite.svg#facebook")

          a.btn.footer-social.btn-twitter.position-relative.mr-3.rounded-circle(href="#")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/sprite.svg#twitter")

          a.btn.footer-social.btn-instagram.position-relative.mr-3.rounded-circle(href="#")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/sprite.svg#instagram")

          a.btn.footer-social.btn-pinterest.position-relative.mr-3.rounded-circle(href="#")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/sprite.svg#pinterest")

          a.btn.footer-social.btn-youtube.position-relative.rounded-circle(href="#")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/sprite.svg#youtube")

  .footer-bottom.py-4
    .container.text-center
      .mb-3
        a.nav-link.footer-bottom-link.d-inline(href="#") Privacy Policy
        a.nav-link.footer-bottom-link.d-inline(href="#") Terms of Use
      p.footer-bottom-caption Osmo™, Awbie™, and Tangible Play™ are trademarks of Tangible Play, Inc..
