.schools.py-4.py-lg-5.text-center.text-lg-left.text-white
  .container.position-relative
    h2.text-white Schools 
      svg(fill="white" width="23" height="23")
        use(xlink:href="#heart")
      |  Osmo
    p.d-md-none Osmo has been adopted in over 30,000 schools in 42 countries around the world.
    p.d-none.d-lg-block.w-50 Osmo has been adopted in over 30,000 schools in 42 countries around the world. Teachers are raving about how their students love experimenting, exploring, creating and collaborating with Osmo.
    img.d-block.mx-auto.mx-lg-0.mb-4(src="images/teachers-pick.png", width="290", alt="Teacher's pick award")
    .video-frame.mx-auto.mb-4
      button.x-btn-play.frame-btn(type="button" data-toggle="modal" data-target="#modalVideoSchools")
        svg(width="20" height="20" fill="white")
          use(xlink:href="#play")
    a.btn.x-btn-section(href="#") Osmo for schools
      svg.icon.position-relative.align-middle.ml-2(width="12" height="12" fill="white")
        use(xlink:href="#arrow-right")

  //- .modal.fade(id="modalVideoSchools")
  //-   .modal-dialog.modal-lg.modal-dialog-centered
  //-     .modal-content.border-0.bg-transparent
  //-       .modal-body
  //-         button.close.mb-2.text-white(type="button" data-dismiss="modal") &times;
  //-         .embed-responsive.embed-responsive-16by9
  //-           iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/zEsJwwdq4r8" allowfullscreen)