.bases.py-4.py-md-5.text-center
  .container
    .d-inline-block.mb-3.mb-md-0
      svg.devices.d-inline-block.mr-2.align-middle(width="25", height="25", fill="white")
        use(xlink:href="images/icons.svg#iphone-and-ipad")
      p.d-inline-block.mb-0.mr-4.align-middle.text-white
        | Works with 
        strong iPad 
        | and 
        strong iPhone
    a.btn.x-btn-section(href="#") Explore our bases
      svg.icon.position-relative.align-middle.ml-2(width="12" height="12" fill="white")
        use(xlink:href="images/icons.svg#arrow-right")
