.coding.py-4.py-md-5
  .container
    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5.order-md-2
        +video("coding-awbie")(class="video d-block", data-toggle="video") 
      .col-12.col-md-7.col-lg-5
        img.img-title.mb-3(src="images/coding-title.png", alt="Osmo Coding family")
        p Experience the complete Osmo Coding Family with three hands-on games. Explore with Awbie, make music with Jam, and solve challenging puzzles with Duo. Your kid can go from beginner to advanced with even more hands-on fun!
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#") Discover Coding Family
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5
        +video("mindracers")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5.order-md-2
        h3.position-relative.mb-3
          span.icon.mindracers.position-absolute
          span.heading-text.d-inline-block Hot Wheels™ MindRacers
        p Send real Hot Wheels™ cars racing down the ramp and straight into amazing digital worlds. Throw down game tokens to drive the action and beat the competition.
        .devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad

        .text-center
          a.btn.x-btn-section.m-2(href="#")
            svg.mr-1(width="12" height="12" fill="#22a2d1")
              use(xlink:href="images/icons.svg#play")
            span Watch film
          a.btn.x-btn-section.m-2(href="#") Discover MindRacers
            svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
              use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5.order-md-2
        +video("tangram")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5
        h3.position-relative.mb-4
          span.icon.tangram.position-absolute
          span.heading-text.d-inline-block Tangram
        p Arrange wooden puzzle pieces to match on-screen shapes. Animals, objects, humans and more. Play with a friend or challenge yourself to increasingly more difficult levels as your handiwork lights up with each victory.
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#") Discover Tangram
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5
        +video("pizza-and-co")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5.order-md-2
        h3.position-relative.mb-4
          span.icon.pizzaco.position-absolute
          span.heading-text.d-inline-block Pizza Co.
        p Make pizza... grow your profit! Quickly cook pizza & calculate change using topping & money tiles. Invest profits to upgrade your shop or open new locations as you bake your way to becoming “the big cheese”!
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#")
            svg.mr-1(width="12" height="12" fill="#22a2d1")
              use(xlink:href="images/icons.svg#play")
            span Watch film
        a.btn.x-btn-section.m-2(href="#") Pizza Co.
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5.order-md-2
        +video("monster")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5
        h3.position-relative.mb-4
          span.icon.monster.position-absolute
          span.heading-text.d-inline-block Monster
        p Bring your drawings to life! Each item you draw for Mo will be magically pulled into his world. Together create animated activities to share with family and friends.
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#")
            svg.mr-1(width="12" height="12" fill="#22a2d1")
              use(xlink:href="images/icons.svg#play")
            span Watch film
        a.btn.x-btn-section.m-2(href="#") Monster
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5
        +video("numbers")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5.order-md-2
        h3.position-relative.mb-4
          span.icon.numbers.position-absolute
          span.heading-text.d-inline-block Numbers
        p Add, count and multiply the tiles to match the numbers on the bubbles. Popping enough bubbles will free the fish and unleash a storm of lightning and thunder! Big or small, even or odd, will you become the Numbers Master?
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#")
            svg.mr-1(width="12" height="12" fill="#22a2d1")
              use(xlink:href="images/icons.svg#play")
            span Watch film
        a.btn.x-btn-section.m-2(href="#") Numbers
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5.order-md-2
        +video("masterpiece")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5
        h3.position-relative.mb-4
          span.icon.masterpiece.position-absolute
          span.heading-text.d-inline-block Masterpiece
        p Unleash your inner artist! Pick an image from the camera, web or curated gallery and Masterpiece will transform it into easy-to-follow lines, helping you create beautiful drawings.
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#")
            svg.mr-1(width="12" height="12" fill="#22a2d1")
              use(xlink:href="images/icons.svg#play")
            span Watch film
        a.btn.x-btn-section.m-2(href="#") Masterpiece
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#t")
            use(xlink:href="images/icons.svg#arrow-righ")

    .row.align-items-md-center.justify-content-lg-center.mb-sm-4
      .col-12.col-md-5
        +video("words")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5.order-md-2
        h3.position-relative.mb-4
          span.icon.words.position-absolute
          span.heading-text.d-inline-block Words
        p Guess and spell the on-screen image. Team up or compete in-person with friends or family to see who will get their letter in first! Download free content like trivia, geography or upload your own like family names. The possibilities are endless!
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#") Discover Words
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")

    .row.align-items-md-center.justify-content-lg-center
      .col-12.col-md-5.order-md-2
        +video("newton")(class="video d-block", data-toggle="video")
      .col-12.col-md-7.col-lg-5
        h3.position-relative.mb-4
          span.icon.newton.position-absolute
          span.heading-text.d-inline-block Newton
        p Newton works with any object or drawing — Mom’s keys, hand-drawn basket, even toys you already own. Simply place the object/drawing in front of the screen and manipulate it to guide the falling balls into the target zones.
        div.devices.mb-2
          span.mr-3
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#ipad")
            | iPad
          span
            svg.align-middle.mr-1(width="15" height="15")
              use(xlink:href="images/icons.svg#iphone")
            | iPhone
        a.btn.x-btn-section.m-2(href="#") Discover Newton
          svg.position-relative.ml-2.align-middle(width="12" height="12" fill="#22a2d1")
            use(xlink:href="images/icons.svg#arrow-right")