.meet
  .container
    h1.h2 Meet Osmo
    p.mb-5 Osmo is an award-winning game system that will change the way your child interacts with the iPad and iPhone by opening them up to hands-on play.

    .d-flex.mr-auto
      .d-flex.flex-column.flex-lg-row.align-items-center
        a.btn.x-btn-shop.mb-3.mr-sm-0.mr-lg-3.mb-lg-0(href="#") Shop Now
          svg.align-middle.ml-2(width="17" height="17" fill="white")
            use(xlink:href="images/icons.svg#arrow-right")
        div.find
          span.mr-2 or 
          a(href="#") Find a Store
            svg.align-middle.ml-2(width="13" height="13" fill="#666")
              use(xlink:href="images/icons.svg#arrow-right")