.bases.py-4.py-md-5.text-center
  .container
    div.d-inline-block.mb-3.mb-md-0
      svg.bases-devices.d-inline-block.mr-2.align-middle(width="25", height="25", fill="white")
        use(xlink:href="#iphone-and-ipad")
      p.d-inline-block.mb-0.mr-4.align-middle.text-white
        | Works with 
        strong iPad 
        | and 
        strong iPhone
    a.btn.x-btn-section.bases-btn(href="#") Explore our bases
      svg.bases-btn-icon.position-relative.align-middle.ml-2(width="12" height="12" fill="white")
        use(xlink:href="#arrow-right")