.conditions.py-5.text-center
  .d-flex.flex-column.flex-md-row.align-items-center.align-items-md-start.justify-content-center
    .conditions-item.d-flex.flex-md-column.mb-4.mb-md-0.mx-md-4
      svg.flex-shrink-0.mr-4.mb-md-4.mx-md-auto(width="55" height="40" fill="#f78f1e")
        use(xlink:href="#parcel")
      div
        h3.conditions-heading.mb-1.mb-md-2 Free Shipping
        p.conditions-par.m-0 Free shipping to the United States for orders over $99.

    .conditions-item.d-flex.flex-md-column.mb-4.mb-md-0.mx-md-4
      svg.flex-shrink-0.mr-4.mb-md-3.mx-md-auto(width="55" height="50" fill="#f78f1e")
        use(xlink:href="#pieces")
      div
        h3.conditions-heading.mb-1.mb-md-2 Piece Replacement
        p.conditions-par.m-0 In most cases, if you lose a piece we will replace it for free. There is a 90-day warranty on the base. 
          a(href="#") Learn More

    .conditions-item.d-flex.flex-md-column.mx-md-4
      svg.flex-shrink-0.mr-4.mb-md-4.mx-md-auto(width="55" height="40" fill="#f78f1e")
        use(xlink:href="#dollar")
      div
        h3.conditions-heading.mb-1.mb-md-2 Referral Program
        p.conditions-par.m-0 Refer Osmo to your family and friends and get cash back for every purchase.