.order.py-5.py-md-5.text-center.text-lg-left
  .container
    .row.justify-content-lg-center.align-items-lg-center
      .col-12.col-lg

        - className = "order-img mb-4 mb-lg-0"
        - src      = "images/devices-fun-responsive.jpg"
        - width    = 600
        - sizes    = "(min-width: 430px) 400px, (min-width: 992px) 33.2rem, (min-width: 1200px) 37.5rem, 95vw"
        - alt      = "Osmo on mobile devices"
        +respImg

      .col-12.col-lg-5
        h2 Order Osmo
        p.mb-4 We’re creating an environment for children where the line between fun and learning is blurred. Join us.
        a.btn.x-btn-shop.mr-3.mr-sm-0.mb-sm-3.text-white(href="#") Shop Now
          svg.align-middle.ml-2(width="17" height="17" fill="white")
            use(xlink:href="#arrow-right")