.touch
  nav.container.d-flex.flex-column.align-items-center
    .touch-wrapper.position-relative
      ul.nav.nav-tabs.touch-tabs.position-relative.mb-4.border-0
        li.nav-item.mr-4
          a.touch-link.active(href="#tablet" data-toggle="tab")
            svg.touch-icon.mr-2.align-middle(width="20" height="20" fill="white")
              use(xlink:href="#ipad")
            span iPad
        li.nav-item
          a.touch-link(href="#mobile" data-toggle="tab")
            svg.touch-icon.mr-2.align-middle(width="20" height="20" fill="white")
              use(xlink:href="#iphone")
            span iPhone

      .tab-content.touch-tab-content
        .tab-pane.fade.show.active.text-white#tablet
          .touch-tab-inner.position-relative
            h2.pb-2.text-white Now you can play with your hands
            p Put your iPad in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.

          - className = "touch-img position-absolute"
          - src       = "images/play-on-ipad-responsive.png"
          - width     = 700
          - sizes     = "(min-width: 768px) 43.75rem, 95vw"
          - alt       = "Play Osmo on iPad"
          +respImg

          .touch-overlay.ipad.position-absolute
          .touch-overlay.hand.position-absolute

        .tab-pane.fade.text-white#mobile
          .touch-tab-inner.position-relative
            h2.pb-2.text-white Osmo is now on iPhone
            p Put your iPhone in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.

          - src = "images/play-on-iphone-responsive.png"
          - alt = "Play Osmo on iPhone"
          +respImg

          .touch-overlay.iphone.position-absolute
          .touch-overlay.hand.position-absolute