footer
  .footer-top.py-4
    .container
      .d-xl-flex.flex-xl-row.justify-content-center.mb-4.font-weight-normal
        nav.nav.justify-content-center.mb-3.mb-lg-2.mr-3
          a.nav-link(href="#") Find in Store
          a.nav-link(href="#") Osmo Social Club
          a.nav-link(href="#") About Us
          a.nav-link(href="#") Blog
          a.nav-link(href="#") Media
          a.nav-link(href="#") Jobs
          a.nav-link(href="#") Support

        .text-center
          span.flag.align-middle
          a.nav-link.d-inline-block.pl-2.align-middle(href="#") United States

      .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-lg-between.mb-lg-3
        .d-flex.flex-column.flex-md-row.align-items-center.mb-4.mb-lg-0
          p.mr-md-3.mb-md-0.text-center.text-md-left#signUpLabel Sign up for our newsletter to hear about our new games and promotions!
          form.position-relative(action="#")
            input(type="email" placeholder="Your email address" aria-labelledby="signUpLabel")
            button.form-btn.position-absolute.text-white(type="submit") Sign Up

        .d-flex.mb-2.mb-lg-0
          a.btn.social.btn-facebook.position-relative.mr-3.rounded-circle(href="#" aria-label="Facebook")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/icons.svg#facebook")

          a.btn.social.btn-twitter.position-relative.mr-3.rounded-circle(href="#" aria-label="Twitter")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/icons.svg#twitter")

          a.btn.social.btn-instagram.position-relative.mr-3.rounded-circle(href="#" aria-label="Instagram")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/icons.svg#instagram")

          a.btn.social.btn-pinterest.position-relative.mr-3.rounded-circle(href="#" aria-label="Pinterest")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/icons.svg#pinterest")

          a.btn.social.btn-youtube.position-relative.rounded-circle(href="#" aria-label="Youtube")
            svg.x-center(width="20" height="20" fill="white")
              use(xlink:href="images/icons.svg#youtube")

  .footer-bottom.py-4
    .container.text-center
      .mb-3
        a.nav-link.d-inline(href="#") Privacy Policy
        a.nav-link.d-inline(href="#") Terms of Use
      p.caption Osmo™, Awbie™, and Tangible Play™ are trademarks of Tangible Play, Inc..
