extends /layouts/layout

prepend head
  - var title = "Osmo Bootstrap template"

block content
  .position-relative
    include assets/includes/video
    include assets/includes/aging
    
  include assets/includes/meet
  include assets/includes/touch
  include assets/includes/coding
  include assets/includes/awards
  include assets/includes/schools
  include assets/includes/bases
  include assets/includes/order
  include assets/includes/conditions