extends /layouts/layout

prepend head
  - var title = "Osmo Bootstrap template"

block content
  .position-relative
    include includes/main-video
    include includes/aging

  include includes/meet
  include includes/touch-play
  include includes/coding
  include includes/awards
  include includes/schools
  include includes/bases
  include includes/order
  include includes/conditions