.x-btn {
  @include x-btn();
}

.x-btn-section {
  padding: 9px 17px 8px;
  border-radius : 30px;

  svg {
    bottom: 1px;
    transition: fill .6s;
  }
}

.x-btn-shop {
  width : 202px;
  padding-top : 20px;
  padding-bottom : 20px;
  border-radius : 30px;
  background : linear-gradient(to right, lighten($orange,7), darken($orange,0));
  font-size : 20px;
  font-weight: 600;
  color: white;
  transition : transform .2s ease-in-out;

  &:hover {
    color: white;
    transform : scale(1.05);
  }
}

.x-btn-play {
  border: 3px solid white;
  border-radius: 50%;
  background: rgba($color: #000, $alpha: .4);
  transition: transform .2s ease-in-out;

  @include x-center();

  &:hover {
    transform: scale(1.2);
  }

  svg { @include x-center(); }
}