// ==========================================================================
// Update Bootstrap variables
// ==========================================================================
$font-family-base: "Montserrat", sans-serif;
$font-family-system: -apple-system, sans-serif;

$body-color: $gray-700;
$link-color: #337ab7;

$font-weight-base: 300;

$headings-color: #373737;
$headings-margin-bottom: 15px;
$headings-font-weight: 600;

// ==========================================================================
// Project variables
// ==========================================================================

// Icons sprite positions
// ==========================================================================

$mindracers:    33.33333333% 100%;
$codingjam:     0 100%;
$codingawbie:   33.33333333% 50%;
$tangram:       0 0;
$pizzaco:       100% 50%;
$monster:       66.66666667% 50%;
$numbers:       0 50%;
$masterpiece:   100% 0;
$words:         33.33333333% 0;
$newton:        66.66666667% 0;